[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PiSiYap
Name[tr]=PiSiYap
GenericName=Pisi Source File Creator
GenericName[tr]=PiSi Kaynak Dosyası Üreticisi
Icon=pisiyap
Exec=pisiyap
Terminal=false
StartupNotify=false
Categories=Development;IDE;
