[Desktop Entry]
Name=PisiYap
Type=Service
Actions=CreatePisi
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file
MimeType=application/x-gzip,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-rar,application/x-tarz,application/x-archive,application/x-bzip2
Encoding=UTF-8

[Desktop Action CreatePisi]
Name=PisiYap
Exec=pisiyap %f
Icon=/usr/share/icons/hicolor/scalable/apps/pisiyap.svg
