[Desktop Entry]
Actions=CreatePisi
Encoding=UTF-8
Name=PisiYap
ServiceTypes=application/x-gzip,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-rar,application/x-tarz,application/x-archive,application/x-bzip2

[Desktop Action CreatePisi]
Exec=pisiyap %f
Icon=pisiyap
Name=PisiYap
